@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #777;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.navbar {
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
}

.navbar .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.navbar .nav-link {
    color: #999 !important;
    transition: 0.3s;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #000 !important;
}

.navbar .nav-link.active {
    color: #000 !important;
}

.justify {
    text-align: justify;
}

.btn:focus,
.btn:active,
.btn:hover {
    box-shadow: none !important;
    outline: 0;
}

.btn-primary {
    background: #00b1ff !important;
    border-color: #00b1ff !important;
}

.btn-outline-primary {
    border-color: #00b1ff !important;
    color: #00b1ff !important;
}

.btn-outline-primary:hover {
    background: #00b1ff !important;
    border-color: #00b1ff !important;
    color: white !important;
}

.text-primary {
    color: #00b1ff !important;
}

.hero,
.feature,
.latar {
    background-color: #fafaff;
}

#hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: #00b1ff;
    color: #fff;
}

.title {
    font-size: 80px;
}

.title-text {
    font-size: 20px;
}

.slogan {
    font-size: 25px;
}

.tagline {
    line-height: 35px;
}

.project .card {
    padding: 0px;
    border-radius: 5px;
    border: none;
    box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.15);
    transition: 0.3s;
}

.project .card .card-body {
    padding: 20px;
    border-radius: 15px 15px 0px 0px;
}

.project .card:hover {
    transform: scale(0.95);
}

.client .card {
    padding: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.15);
    transition: 0.3s;
}

.client .card:hover {
    transform: translateY(-20px);
    box-shadow: 0px 8px 30px 0px rgba(42, 67, 113, 0.1);
}

.contact .card {
    padding: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.15);
    transition: 0.3s;
}

.contact .card:hover {
    transform: scale(0.95);
    background-color: #00b1ff;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .about,
    .about p {
        text-align: center;
    }

    .title {
        font-size: 40px;
    }

    .title-text {
        font-size: 16px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .about,
    .about p {
        text-align: left; /* Contoh: mengatur teks untuk berorientasi ke kiri */
    }

    .title {
        font-size: 48px; /* Ukuran font yang lebih besar untuk layar yang lebih besar */
    }

    .title-text {
        font-size: 18px; /* Ukuran font sedikit lebih besar */
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .about,
    .about p {
        text-align: justify; /* Contoh: mengatur teks untuk justified */
    }

    .title {
        font-size: 80px; /* Ukuran font yang lebih besar untuk layar yang lebih besar */
    }

    .title-text {
        font-size: 20px; /* Ukuran font lebih besar */
    }
}
