@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    background: #777;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.navbar {
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.1);
}

.white-image {
    filter: grayscale(100%) brightness(1);
    transition: transform 0.3s ease, filter 0.3s ease;
}

.white-image:hover {
    filter: grayscale(0%) brightness(1);
    transform: scale(1.1);
}

.glass-card {
    background-color: #0B0C10;
    padding: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.glass-card:hover {
    transform: scale(0.95);
    /* background-color: #8a2be2; */
    background-color: #1E90FF;
    color: #fff;
}

.navbar .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
}

.navbar .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.navbar .nav-link {
    color: #999 !important;
    transition: 0.3s;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff !important;
}

.navbar .nav-link.active {
    color: #fff !important;
}

.justify {
    text-align: justify;
}

.btn:focus,
.btn:active,
.btn:hover {
    box-shadow: none !important;
    outline: 0;
}

.btn-primary {
    background: #1E90FF !important;
    border-color: #1E90FF !important;
}

.btn-outline-primary {
    border-color: #1E90FF !important;
    color: #1E90FF !important;
}

.btn-outline-primary:hover {
    background: #1E90FF !important;
    border-color: #1E90FF !important;
    color: white !important;
}

.text-primary {
    /* color: #f6cf7a !important; */
    color: #1E90FF !important;
}

.hero,
.feature,
.latar {
    /* background-color: #fafaff; */
    background-color: #0B0C10 !important;
}

#hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: #0B0C10;
    color: #fff;
}

.title {
    font-size: 80px;
}

.title-text {
    font-size: 20px;
}

.slogan {
    font-size: 25px;
}

.tagline {
    line-height: 35px;
}

.project .card {
    padding: 0px;
    border-radius: 5px;
    border: none;
    box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.15);
    transition: 0.3s;
}

.project .card .card-body {
    padding: 20px;
    border-radius: 15px 15px 0px 0px;
}

.project .card:hover {
    transform: scale(0.95);
}


.pricing .lite {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #0B0C10;
    box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.15);
    transition: 0.3s;
}

.pricing .professional {
    padding: 20px;
    border-radius: 5px;
    border: none;
    background-color: #1E90FF;
    box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.15);
    transition: 0.3s;
}

.pricing .advance {
    padding: 20px;
    border-radius: 5px;
    border: none;
    background-color: #8a2be2;
    box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.15);
    transition: 0.3s;
}

.pricing .card:hover {
    transform: scale(1.03) !important;
}

.contact .card {
    padding: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.15);
    background-color: #8a2be2;
    color: #fff;
    transition: 0.3s;
}

.contact .card:hover {
    transform: scale(0.95);
    background-color: #fff;
    color: #000;
}

.order .card {
    padding: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.15);
    background-color: #0B0C10;
    color: #fff;
}

.order input::placeholder {
    color: grey;
    opacity: 1;
}

.order textarea::placeholder {
    color: grey;
    opacity: 1;
}


.bg-dark {
    background-color: #0B0C10 !important;
}

@media only screen and (max-width: 768px) {
    .about,
    .about p {
        text-align: center;
    }

    .title {
        font-size: 40px;
    }

    .title-text {
        font-size: 16px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .about,
    .about p {
        text-align: left; /* Contoh: mengatur teks untuk berorientasi ke kiri */
    }

    .title {
        font-size: 48px; /* Ukuran font yang lebih besar untuk layar yang lebih besar */
    }

    .title-text {
        font-size: 18px; /* Ukuran font sedikit lebih besar */
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .about,
    .about p {
        text-align: justify; /* Contoh: mengatur teks untuk justified */
    }

    .title {
        font-size: 80px; /* Ukuran font yang lebih besar untuk layar yang lebih besar */
    }

    .title-text {
        font-size: 20px; /* Ukuran font lebih besar */
    }
}
